---
title:     Art and Design
bodyclass: main
---

.page
  .wide-wrap
    .photo.lead
      %header
        %h1= current_page.data.title
        %h2.each-word for the web

      .panel.clear
        %h3 A one-stop custom site shop. We design and build.
      
        %p Creative people and professionals need cyber presence that reflects the quality of their work. With 25+ years in the arts, and cutting edge technology, we work with them to achieve that.
%section
  .wide-wrap
    .page
      %ul.left
        %li Responsive websites
        %li Brochure websites
        %li Business and commerce
        %li Check out our recent, featured projects
      %ul.right
        %li Content editing and creation
        %li Graphics for web and print
        %li image specialists
%section
  .wide-wrap
    .page
      .gallery
        %img{ :src => "/images/norma.png", :alt => "website screenshot" }
        %img{ :src => "/images/sites-HK.jpg", :alt => "website screenshot" }
        %img{ :src => "/images/sites-aS.jpg", :alt => "website screenshot" }
        %img{ :src => "/images/live.jpg", :alt => "website screenshot" }

%section
  .wide-wrap
    .page-transparent
      %article.left
        %h3 Work ethic
        %p 
          %em Lori has a terrific design sense. She designed my website and I hired her to update it. I trust her to dialog with me and implement our mutual decisions.
          %br &mdash; R.Y., NYC.
      %article.right
        %p 
          %em Lori was extremely sensitive and inventive in developing and creating my website. I am a satisfied client!
          %br &mdash; H. K., NYC.

        %p 
          %em Lori is a hard-working, result-driven member of my team. Her contribution is enormous. Her web design and promotional efforts set her apart.
          %br &mdash; Jeff Wright, Live Mag!
%section    
  .wide-wrap
    .page-blanc
      .info-box
        %address 
          <h3> Lori Ortiz, websites<br>
          Made in New York City</h3>
          
          <p> Free first consultation<br>
          Get in touch!<br>
          
          info: lori[at]loriortiz.com</p>   
      .logo-wrap
        .logo
          %a{:href=>"http://communitygardensbrand.com"}    
            %img{ :src => "/images/garden.png", :alt => "garden logo" }
            %p Community Gardens Brand
        .logo
          %img{ :src => "/images/sass1.png", :alt => "sass logo" }
          %p.center SASS

            

